@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --bg: #1F2937;
  --color:#FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5FD788;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 69px;
  background: var(--bg);
  opacity: 0.7;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  width: 24px;
  height: 24px;
}

.navbar .logo h2 {
  font-style: normal;
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 135%;
  font-weight: 600;
  color: var(--color);
  margin-left: 12px;
}

.navbar .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 219px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 820px) {
  .navbar .center {
    display: none;
  }
}

.navbar .center h2 {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 135%;
  font-style: normal;
  color: var(--color);
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .center h2:hover {
  color: #5FD788;
  cursor: pointer;
}

.navbar .right img {
  margin: 0 6px;
  cursor: pointer;
}

.navbar .right button {
  background: none;
  outline: none;
  border: none;
}

.navbar .right .switch {
  height: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.headline {
  margin-top: 69px;
  background: var(--bg);
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.headline .text {
  width: 550px;
  margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
  .headline .text {
    width: 400px;
  }
}

.headline .text .title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 96px;
  line-height: 89.84%;
  font-style: normal;
  color: #5FD788;
  margin: 269px 0 0 100px;
}

@media screen and (max-width: 1000px) {
  .headline .text .title {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}

.headline .text .txt {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  font-family: 'Poppins';
  color: #9CA3AF;
  margin-left: 100px;
}

.headline .photo {
  height: 150px;
}

@media screen and (max-width: 1000px) {
  .headline .photo {
    display: none;
  }
}

.headline .photo .pic {
  margin-left: -30px;
}

.headline .photo .ellips {
  width: 1784.5px;
  height: 1200px;
  position: absolute;
  right: -1030px;
  top: -500px;
  z-index: -1;
}

.body .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .about .box {
  width: 273px;
  height: 273px;
  background: var(--bg);
  border-radius: 0px 20px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin: 3px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body .about .box .title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #5FD788;
  font-family: 'Poppins';
  margin-top: 15px;
}

.body .about .box:hover {
  background: #5FD788;
  cursor: pointer;
}

.body .about .box:hover .title {
  color: var(--bg);
}

.body .explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
}

.body .explore .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px;
}

.body .explore .text .title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  text-align: right;
  letter-spacing: 0.01em;
  color: #5FD788;
  font-family: 'Poppins';
}

.body .explore .text .txt {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  font-family: 'Poppins';
  color: #9CA3AF;
  text-align: right;
  width: 374px;
  margin: 32px 0 24px 0;
}

.body .explore .text button {
  width: 274px;
  background: #5FD788;
  border-radius: 8px;
  height: 40px;
  outline: none;
  border: none;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body .explore .text button:hover {
  cursor: pointer;
  color: #5FD788;
  background: var(--bg);
  border: 2px solid #5FD788;
}

.body .explore .img {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .body .explore .img {
    display: none;
  }
}

.body .explore .img .ellips {
  position: absolute;
  left: -180px;
  top: -100px;
  z-index: -1;
}

.body .explore .img .pic {
  height: 532px;
  width: 601.28px;
}

.body .bestsellers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .bestsellers .right {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .bestsellers .right .txt {
  margin-left: 90px;
}

.body .bestsellers .right .txt .title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  letter-spacing: 0.01em;
  color: #5FD788;
  font-family: 'Poppins';
}

.body .bestsellers .right .txt button {
  width: 274px;
  height: 40px;
  background: #5FD788;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: none;
  color: var(--bg);
}

.body .bestsellers .right .txt button:hover {
  background: var(--bg);
  color: #5FD788;
  border: 2px solid #5FD788;
  cursor: pointer;
}

.body .bestsellers .right img {
  position: absolute;
  left: -80px;
  top: 0;
  z-index: -1;
}

.body .bestsellers .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .bestsellers .left .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .bestsellers .left .boxs .box {
  position: relative;
  height: 386px;
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 15px;
  overflow: hidden;
  border-radius: 0 20px;
}

.body .bestsellers .left .boxs .box img {
  position: absolute;
  z-index: -1;
}

.body .bestsellers .left .boxs .box .info {
  height: 91px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 0px 20px;
  width: 375px;
  padding-left: 15px;
  margin-left: 5px;
}

.body .bestsellers .left .boxs .box .info .inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .bestsellers .left .boxs .box .info .inform .title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1F2937;
  font-family: 'Poppins';
}

.body .bestsellers .left .boxs .box .info .inform .prix {
  height: 15px;
  background: #5FD788;
  border-radius: 8px;
  width: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 97.9%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Poppins';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
}

.body .bestsellers .left .boxs .box .info .moreinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .bestsellers .left .boxs .box .info .moreinfo .txt {
  font-family: 'Poppins';
  font-style: normal;
  color: #6B7280;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.body .bestsellers .left .boxs .box .info .moreinfo img {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.body .bestsellers .left .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.body .bestsellers .left .more div {
  margin: 0 2px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #9CA3AF;
  cursor: pointer;
}

.body .bestsellers .left .more .act {
  background-color: #5FD788;
}

.body .soaps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5FD788;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .soaps div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
}

.body .soaps div .txt {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 119.4%;
  letter-spacing: 0.01em;
  color: var(--bg);
  margin: 0 0 20px 0;
}

.body .soaps div button {
  height: 40px;
  background: var(--bg);
  border-radius: 8px;
  width: 274px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 97.9%;
  text-align: center;
  font-family: 'Poppins';
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color);
  font-style: normal;
  cursor: pointer;
  margin-bottom: 15px;
}

.body .soaps img {
  height: 400px;
  margin: auto;
}

.body .blog {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .blog .head {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #5FD788;
  font-family: 'Poppins';
}

.body .blog .blogpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body .blog .blogpost .box {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: var(--bg);
  margin: 10px;
  overflow: hidden;
  width: 370px;
}

.body .blog .blogpost .box .img {
  width: 370px;
  height: 204px;
  overflow: hidden;
}

.body .blog .blogpost .box .img img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body .blog .blogpost .box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.body .blog .blogpost .box .title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  font-family: 'Poppins';
  color: #5FD788;
  margin: 20px 23px 11px;
}

.body .blog .blogpost .box .txt {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Poppins';
  color: #4B5563;
  margin: 0 23px 10px;
}
/*# sourceMappingURL=style.css.map */